div {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.day-1 {
  background-color: #94bbe9;
  border-left: 6px solid #f44336;
}

.day-2 {
  background-color: #ffff80;
  border-left: 6px solid #04AA6D;
}

.day-3 {
  background-color: #66ffff;
  border-left: 6px solid #2196F3;
}


.day-4 {
  background-color:   #d966ff;
  border-left: 6px solid #ffeb3b;
}

.day-5{
   background-color:  #ffffb3;
    border-left: 6px solid #ff8080;
}
.day-6 {
  background-color: #66ffff;
  border-left: 6px solid #2196F3;
}

.day-7 {
  background-color:   #d966ff;
  border-left: 6px solid #ffeb3b;
}
.day-8 {
  background-color: #66ffff;
  border-left: 6px solid #2196F3;
}

.day-9 {
  background-color:  #ffffb3;
  border-left: 6px solid #ff8080;
}


.copy-code{
  background-color: #eeaeca;
}

a{
  text-decoration: none;
}

button{
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
}

button:hover{
  background-color: darkkhaki;
}

p{
  font-size: 25px;
  font-family: 'Lobster', cursive;
  color: #000;
}

